body {
    margin: 0px;
}

section {
    max-width: 99.5vw;
}

.border-css {
    border: 1px solid black;
    margin: 5px;
    background-color: rgb(212, 206, 246);
    border-radius: 5px;
}

.a-color {
    color: black;
}

.h2-hover {
    transition: 400ms;
    display: inline;
    border-radius: 10px;
    padding: 0px 10px;
}

.h2-hover:hover {
    background-color: rgba(147, 44, 119, 0.301)
}

.margin-0 {
    margin: 0px
}

.margin-no0 {
    margin: 5px 0px 15px 0px;
}

.h3 {
    font-weight: bold;
    font-size: 22pt;
}

a {
    text-decoration: none;
}
.add-cart {
    background-color: rgb(212, 206, 246);
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.section-margin{
    margin: 25px 0px 10px;
}

.cartita {
    box-sizing: content-box;
    border: 1px black solid;
    padding: 5px 8px;
    margin: 10px 20px;
}

.borde-negro {
    border: 1px black solid;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

thead {
    background-color: rgb(212, 206, 246);
}

.section-background {
    margin-top: 0px;
    padding: 25px 0px;
    background-color: rgb(255, 173, 239);
    position: relative;
    bottom: 24px;
}

nav {
    background-color: #fdfff3;
}

.details-img{
    width: 370px;
    height: 265px;
}

.responsive-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


@media (max-width: 576px) and (orientation: portrait) {
    .inline {
        display: inline;
        width: 33%;
    }

    h2 {
        size: 5px;
    }

    .margin-0 {
        display: flex;
        flex-wrap: nowrap;
    }

    .cartita {
        box-sizing: content-box;
        border: 1px black solid;
        font-size: small;
        width: 350px;
    }

    .add-cart {
        background-color: rgba(128, 128, 128, 0.152);
        text-align: center;
        border: 1px solid black;
        width: 350px;
    }

    .responsive-sm {
        max-width: 90vw;
    }

    .responsive-div {
        max-width: 65vw;
    }

    .responsive-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #div-checks {
        display: flex;
        flex-direction: column;
    }

    .details-img{
        width: 340px;
        height: 235px;
    }
}